{% extends "layout.html" %} 
{% block head_content %}
<title>Add an idea!</title>
{% endblock head_content %} 
{% block body_content %} 
<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.title.label }}{{ form.title }}
        <br>
        {{ form.description.label }}{{ form.description }}
        <br>
        {{ form.tag_id.label }}{{ form.tag_id }}
        <br>
        {{ form.name.label }}{{ form.name }}
        {% if error %}
                <br/>
                <i>{{error}}</i>
        {% endif %}
        <br>
        {{ form.submit }}
    {{ message }}
    </form>
</div>
{% endblock body_content %}